@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-dark" style="width: 100vw; height: 100%;">
    <h1 class="display-4 text-light">Welcome to the Renter Democracy Web Application!</h1>
    <p class="text-light">If you are an owner please contact us to create your account, otherwise you can create your own to get added to a unit!</p>
</div>
