@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-dark" style="width: 100vw; height: 100%;">
    <h1 class="display-4 text-light">Welcome</h1>
    <p class="text-light">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
