@using Microsoft.AspNetCore.Identity
@using RenterDemocracy.Data
@using System.Security.Claims;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationDbContext Context
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RenterDemocracy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RenterDemocracy.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow" style="margin-bottom: 2px; padding-bottom: 2px;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RenterDemocracy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(RolesEnum.OWNER.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Owner" asp-action="Index">Manage Properties</a>
                            </li>
                        }
                        @if (User.IsInRole(RolesEnum.HOUSE_MEMBER.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Post" asp-action="Index">Unit Discussion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Voting" asp-action="Index">Unit Voting</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Unit" asp-action="Index">Unit Management</a>
                            </li>
                        }
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">User Management</a>
                            </li>
                            User user = await UserManager.FindByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));
                            Invite? invite = Context.Invites.FirstOrDefault(i => i.ToUserEmail == user.Email);
                            @if (invite != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link alert" asp-area="" asp-controller="Invite" asp-action="Index">View New Invite</a>
                                </li>
                            }
                        }
                        @if (User.IsInRole(RolesEnum.ADMINISTRATOR.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Account Management</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="mx-4 my-2">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RenterDemocracy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
