@model RenterDemocracy.Models.House

@{
    ViewData["Title"] = "AddHouse";
}

<h1>AddHouse</h1>

<h4>House</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddHouse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BasementSize" class="control-label"></label>
                <input asp-for="BasementSize" class="form-control" />
                <span asp-validation-for="BasementSize" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFreeStanding" /> @Html.DisplayNameFor(model => model.IsFreeStanding)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LotSize" class="control-label"></label>
                <input asp-for="LotSize" class="form-control" />
                <span asp-validation-for="LotSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bedrooms" class="control-label"></label>
                <input asp-for="Bedrooms" class="form-control" />
                <span asp-validation-for="Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bathrooms" class="control-label"></label>
                <input asp-for="Bathrooms" class="form-control" />
                <span asp-validation-for="Bathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Levels" class="control-label"></label>
                <input asp-for="Levels" class="form-control" />
                <span asp-validation-for="Levels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorSize" class="control-label"></label>
                <input asp-for="FloorSize" class="form-control" />
                <span asp-validation-for="FloorSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoveredDriveway" class="control-label"></label>
                <input asp-for="CoveredDriveway" class="form-control" />
                <span asp-validation-for="CoveredDriveway" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UncoveredDriveway" class="control-label"></label>
                <input asp-for="UncoveredDriveway" class="form-control" />
                <span asp-validation-for="UncoveredDriveway" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoveredLot" class="control-label"></label>
                <input asp-for="CoveredLot" class="form-control" />
                <span asp-validation-for="CoveredLot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UncoveredLot" class="control-label"></label>
                <input asp-for="UncoveredLot" class="form-control" />
                <span asp-validation-for="UncoveredLot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garage" class="control-label"></label>
                <input asp-for="Garage" class="form-control" />
                <span asp-validation-for="Garage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
