@model RenterDemocracy.Models.Unit

@{
    ViewData["Title"] = "Invite Tenant to your Unit";
}

<h1>Invite Tenant To Unit</h1>

<h4>Tenant</h4>
<hr />
<form method="post" asp-action="AddTenant">
    <input type="hidden" value="@Model.Id" name="unitId" />
    <div class="form-group row">
        <div class="col-sm-2"><label for="email">User Email:</label></div>
        <div class="col-sm-4">
            <input for="email" name="email" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><button type="submit" class="btn btn-primary" onclick="alert('The User will only see this after creating an account!');">Invite User to Unit</button></div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to Units</a>
</div>