@model RenterDemocracy.Models.Unit

@{
    ViewData["Title"] = "EditApartment";
}

<h1>EditApartment</h1>

<h4>Apartment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditApartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnitNumber" class="control-label"></label>
                <input asp-for="UnitNumber" class="form-control" />
                <span asp-validation-for="UnitNumber" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bedrooms" class="control-label"></label>
                <input asp-for="Bedrooms" class="form-control" />
                <span asp-validation-for="Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bathrooms" class="control-label"></label>
                <input asp-for="Bathrooms" class="form-control" />
                <span asp-validation-for="Bathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Levels" class="control-label"></label>
                <input asp-for="Levels" class="form-control" />
                <span asp-validation-for="Levels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorSize" class="control-label"></label>
                <input asp-for="FloorSize" class="form-control" />
                <span asp-validation-for="FloorSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
